streamlit==1.24.0
snowflake-snowpark-python==1.5.1
-r https://raw.githubusercontent.com/snowflakedb/snowflake-connector-python/v3.0.4/tested_requirements/requirements_37.reqs 2
snowflake-connector-python==3.0.4